{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/flatpickr.min.css') }}">

    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card card-registro border-0">
                    <div class="card-body p-5">

                        <!--Encabezado-->

                        <div class="text-center mb-5">
                            <div class="display-6 fw-bold text-dark mb-2">Agendar nueva Cita</div>
                            <p class="text-muted">Complete los campos para agendar una nueva cita</p>
                            <div class="mx-auto" style="width: 100px; height: 3px; background: #007bff;"></div>
                        </div>

                        <!--Formulario-->

                        <form action="{{ url_for('citas.agendar')}}"  method="post" class="row g-4">
                        <!--Inputs de fecha y hora-->
                        <div class="col-md-6">
                            <label for="" class="form-label"><i class="bi bi-calendar"></i>Fecha</label>
                            <input type="date" class="form-control" name="fecha_cita" required>
                        </div>
                        <div class="col-md-6">
                            <label for="" class="form-label"><i class="bi bi bi-clock"></i>Hora</label>
                            <input type="text" class="form-control" id="hora_cita" placeholder="Seleccione una hora..." name="hora_cita" required>
                                <script src="{{ url_for('static', filename='js/flatpickr.min.js') }}"></script>
                                <script src="{{ url_for('static', filename='js/flatpickr.es.js') }}"></script>
                                <script src="{{ url_for('static', filename='js/agendar_cita.js') }}"></script>
                        </div>
                        <!--Seleccionar vehiculos-->
                        <div class="mb-3 text-center">
                            <label for="cod_catalogo" class="from-label">Selecciona un vehiculo</label>
                            <select name="cod_catalogo" id="cod_catalogo" class="from-select d-inline-block w-auto" required>
                            <option value="" selected disabled>Escoge un vehiculo disponible</option>
                            
                            <!--iteramos los vehiculos -->
                                {% for v in seleccionar %}
                                <option value="{{v.cod_catalogo}}">{{v.nombre_marca}} {{v.nombre_modelo}} | Placa: {{v.placa}} (Color:{{v.color}}, Año: {{v.anio}})</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!--Bonton agendar-->

                        <div class="col-12 mt-5">
                            <button type="submit" class="btn btn-registrar w-100 shadow-sm py-3">
                                <i class="bi bi-journal-check"></i> Agendar cita
                            </button>
                        </div>
                        </form>
                        
                    </div>
            </div>
        </div>
    </div>
{% endblock %}