{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card auth-card border-0 p-4">
                <div class="text-center mb-4">
                    <i class="bi bi-shield-lock text-primary" style="font-size: 2.5rem;"></i>
                    <h3 class="fw-bold mt-2">Verificación</h3>
                </div>

                <form action="{{ url_for('auth.verificar_respuesta') }}" method="POST">
                    <div class="mb-4 text-center">
                        <label class="form-label d-block fw-bold">Tu pregunta de seguridad:</label>
                        <p class="lead text-dark">"{{ pregunta }}"</p>
                    </div>

                    <div class="mb-4">
                        <label class="form-label">Tu Respuesta</label>
                        <input type="text" name="respuesta" class="form-control auth-control" placeholder="Escribe tu respuesta aquí" required autocomplete="off">
                    </div>

                    <button type="submit" class="btn btn-registrar w-100 py-2">Verificar Respuesta</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}